body {
	background: #1D1F21;
	background-image: url("../images/background.png");
	box-sizing: border-box;
}

#terminal {

	overflow: hidden;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 2px;

	margin: auto;

	width: 724px;
	height: 364px;

	color: white;
	background: #151515;
	border-style: solid;
	border-width: 6px;
	border-color: #2d2d2d;

	-webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.36);
	-moz-box-shadow:    0px 0px 24px 0px rgba(0, 0, 0, 0.36);
	box-shadow:         0px 0px 24px 0px rgba(0, 0, 0, 0.36);

	cursor: text;

	font-size: 14px;
	font-family: Hack, monospace;
}

#terminal:hover {
	border-color: #0087af;
}

#terminal .input {
    height:         1em;
    min-width:      1em;
    outline-color:  transparent;
    border:         none;
    display:        inline-block;
}

#terminal p {
    margin:     0;
    padding:    0;
}

.prompt {
	float: left;
}

#hostname {
	color: white;
	background-color: #0087af;
}

#hblock {
	color: #0087af;
	background-color: #3a3a3a;
}

#fs {
	background-color: #3a3a3a;
}

#fsblock {
	color: #3a3a3a;
	background-color: #1c1c1c;
}

#padding {
	overflow: hidden;
	width: 100%;
	background-color: #1c1c1c;
}

#intro {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 40px;
	width: 100%
}

#logo {
	padding-bottom: 25px;
	display: block;
	margin: auto auto;
}